@model WebApplication1.Models.NewActivityModel

@{
    ViewData["Title"] = "New Activity";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />  

</head>
<body>
   <h1>Esse é um teste</h1>

   <div class="form-group">
       <select id="ClientName" onchange="selectedOption()">
           <option selected="true" onclick="selectedOption" >Selecione um cliente</option>
           @foreach(ClientModel m in Model.Client){
                <option value=@m.ClientId>@m.Name</option>
            }
        </select>
        <select id="TaskList" style="display:none;">
            <option selected="true" value="">Selecione um cliente</option>
        </select> 
        
        <h2 id="count">ola</h2>
        <button onclick="digaOI()">OK!</button>
      
   </div>
</body>
</html>

<script type="text/javascript">  
    
    let xOi = 1

    function selectedOption(){       
               
        clientNumber = document.getElementById("ClientName").value        
        
       const rjson = fetch('/Activities/GetClientTask?id=' + clientNumber )
            .then(response => response.json())
            .then(jrs =>{
                generateOption(jrs)   
                document.getElementById("TaskList").style.display = "block"
            } )
            .catch(err => {
                alert("Error getting the tasks.")
                console.log(err);
                throw err;
            })            
    }

    function generateOption(response){        
        response.map( item => {
            let option = document.createElement("option")
            let select = document.getElementById("TaskList")
            option.text = item.Description
            option.value = item.Description        
            select.appendChild(option)
        })       
    }

    function digaOI(){
        
        document.getElementById("count").innerHTML = xOi

        xOi++
    }
</script>




